"*":
  "atom-beautify":
    general:
      analytics: false
    go:
      beautify_on_save: true
    js:
      beautify_on_save: true
  "autocomplete-plus":
    defaultProvider: "Fuzzy"
  autosave:
    enabled: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "keybinding-resolver"
    ]
    projectHome: "/Users/foxmk/Development"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d49972ef-1372-17f3-ede9-70d17a044ecf"
  gofmt:
    formatTool: "goreturns"
  "linter-eslint":
    useGlobalEslint: true
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  "project-manager":
    includeGitRepositories: true
    sortBy: "group"
  tabs:
    enableVcsColoring: true
  "tool-bar":
    iconSize: "12px"
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
