"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3e11abb4-ceeb-8048-39d5-63d74794ffbb"
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  welcome:
    showOnStartup: false
