'.platform-darwin atom-text-editor':
  'ctrl-g': 'find-and-replace:select-next'
  'ctrl-shift-g': 'find-and-replace:select-undo'
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
  'cmd-d': 'editor:duplicate-lines'
  'cmd-shift-up': 'editor:move-line-up'
  'cmd-shift-down': 'editor:move-line-down'
  'cmd-backspace': 'editor:delete-line'
  'cmd-alt-l': 'atom-beautify:beautify-editor'
  'cmd-l': 'go-to-line:toggle'
  'cmd-ctrl-s': 'tree-view:reveal-active-file'
  'cmd-j': 'snippets:available'

'.platform-darwin atom-workspace':
  'cmd-p': 'command-palette:toggle'
  'cmd-1': 'tree-view:toggle'

  # 'cmd-f3': 'bookmarks:view-all'
  # 'f3': 'bookmarks:toggle-bookmark'

'.platform-darwin .tree-view':
  'cmd-n': 'tree-view:add-file'
  'cmd-1': 'tree-view:toggle'
  'cmd-shift-c': 'tree-view:copy-full-path'
  'cmd-r': 'tree-view:move'
  'f6': 'tree-view:move'
  'shift-f6': 'tree-view:move'
